:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
    
  }

  body {
    background-color: #22212C;
    
    padding: 1em;
    box-sizing: border-box;
  }

  .container .profile {
    
    width: 348px;
    height: 292px;
    padding: 20px;

    border-radius: 30px;
    
    background-color: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }

    .profile .image {
        padding: 34px 130px 110px 115px;
    }

    .profile .image .img {
        width: 128px;
        height: 128px;
        
        border: 2px solid #00FF00;
        box-sizing: border-box;
        border-radius: 50%;
        
    }

    .profile .name {
        width: 196px;
        height: 26px;

        font-family: 'Merriweather.Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 23px;
        line-height: 29px;

        color: #837E9F;
    }

    .profile .front {
        width: 128px;
        height: 17px;

        font-family: 'Merriweather Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;

        color: #837E9F;
    }

   .container .assets {
        width: 348px;
        height: 348px;
        margin-top: 50px;

        background-color: #302F3D;
        border-radius: 30px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

        padding: 20px;

        display: flex;
        flex-direction: column;
        justify-content: center;
   }


   .container .assets > div {
    margin-left: 20px;
   }

    .container .assets p {
        margin-left: 15px;
        font-family: 'Merriweather Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        
        color: var(--text-color);
    }

    .container .assets .icone1 {
        display: flex;

    }

    .container .assets .icone2 {
        display: flex;
    }

    .container .assets .icone3 {
        display: flex;
    }

    .container .assets .icone4 {
        display: flex;
    }

    .container .assets .icone5 {
        display: flex;
    }

    .container .assets .icone6 {
        display: flex;
    }

    .container .tech {
        width: 348px;
        height: 208px;
        margin-top: 50px;

        background-color: #302F3D;
        border-radius: 30px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    .container .tech .title {
        font-family: 'Merriweather Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;

        color: var(--text-color);
    }
    
    .container .tech > div {
        display: flex;
        justify-content: space-between;
    }

    .container .tech > div > div {
        background-color: var(--bg-techs);
        width: 86px;
        border-radius: 30px;
        display: flex;
        justify-content: center;
    }

    .container .tech .line2 {
        margin-top: 10px;
    }

    .container .tech .line3 {
        margin-top: 10px;
    }
    
    .container .tech p {
        font-size: 10px;
    }

    .container .exp {
        width: 348px;
        height: 349px;
        margin-top: 50px;

        background-color: #302F3D;
        border-radius: 30px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

        padding: 20px;
    }

    .container .exp h1 {
        font-family: 'Merriweather Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;

        color: var(--text-color);
    }

    .container .exp li {
        font-family: 'Merriweather Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;

        color: var(--text-color);
    }

    .container .project {
        position: relative;
        bottom: 97rem;

        width: 850px;
        height: 86px;
        padding: 20px;
        margin-top: 50px;
        margin-left: 400px;

        background-color: #302F3D;
        border-radius: 30px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

        display: flex;
    }

    .container .project p {
        font-family: 'Merriweather Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;

        color: var(--text-color);

        display: flex;
        align-items: center;
    }

    .container .project .veja {
        font-family: 'Merriweather Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;

        color: var(--text-color);

        position: absolute;
        width: 71px;
        height: 18px;
        left: 790px;
        top: 40px;
    }

    